@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700|Roboto:300,300i,400,400i');

body {
  font-family: 'Merriweather', serif;
  margin: 0;
  background: #F2F1E8;
  color: #131511;
}

#site-header {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

img.logo {
  width: 50px;
}

#main-navigation {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85%;
}

#main-navigation a {
  color: #131511;
}

#main-navigation a:hover {
  color: #CD5D67;
}

#main-navigation a.current {
  color: #968772;
}

#main-navigation ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

#main-navigation li {
  padding: 1em;
}

#main-navigation #logo{
  display: flex;
  justify-content: flex-start;
  margin-right: 400px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  background-color: #000;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro h1 {
  margin-top: 45px;
  margin-bottom: 0;
}

.intro h2 {
  margin-top: 10px;
}

a:link, a:visited, a:active {
  color: #968772;
}

a:focus, a:hover {
  color: #967343;
}

.gallery {
  min-width: 100vh;
	margin: 1.5em;
  display: flex;
  flex-direction: row;
}

.gallery div {
  margin: 10px;
}

.gallery h5 {
  background-color: #2B2F26;
  color: #F2F1E8;
  position: relative;
  margin: 150px auto 5px 0;
  padding: 10px;
  font-weight: normal;
  float: left;
}

.photo-container1 {
  background-image: url('images/product-1.jpg');
  background-size: cover;
  flex: 2;
  height: 200px;
}

.photo-container2 {
  background-image: url('images/product-2.jpg');
  background-size: cover;
  flex: 1;
  height: 200px;
}

.photo-container3 {
  background-image: url('images/product-3.jpg');
  background-size: cover;
  flex: 1;
  height: 200px;
}

.photo-container4 {
  background-image: url('images/product-4.jpg');
  background-size: cover;
  flex: 1;
  height: 200px;
}
.photo-container5 {
  background-image: url('images/product-5.jpg');
  background-size: cover;
  flex: 1;
  height: 200px;
}
.photo-container6 {
  background-image: url('images/product-6.jpg');
  background-size: cover;
  flex: 2;
  height: 200px;
}
.photo-container7 {
  background-image: url('images/product-7.jpg');
  background-size: cover;
  flex: 1;
  height: 200px;
}

.text {
  padding: 40px 150px;
  line-height: 2em
}

h1, h3, h2 {
  font-weight: normal;
}

h1 {
  font-size: 3em;
  text-align: center
}

blockquote {
  font-style: italic;
  border-left: 2px solid #968772;
  margin: 1.5em 0;
  padding: 0.5em 30px;
  quotes: "\201C""\201D""\2018""\2019";
}

.small {
  width: 20vh;
}

.left {
  float: left;
  padding: 0 20px 20px 0;
}

figcaption {
  color: #293337;
  font-size: .7em;
  line-height: 1.7em;
}

.right {
  float: right;
  width: 30vh;
  padding: 0 0 20px 20px;
}

.banner {
  background-image: url("images/background-3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-text {
  color: #fff;
  font-size: 5em;
}

table {
  border-collapse: collapse;
  width: 100vh;
}

td {
  padding: 10px;
  border: 1px solid #131511;
}

tbody td {

}

thead {
  /* TODO: Make background color none (should match the page background)*/
  background: #000;
  padding: 5px;
  border: 1px solid #131511;
}

tr:nth-child(odd) {
  background-color: #f2eadc;
}

.signup {
  background-image: url('images/background-2.jpg');
  background-repeat: no-repeat;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup h1, h3, h4 {
  font-weight: normal;
}

.signup-container {
  background: #fff;
  padding: 40px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

input {
  width: 450px;
  font-size: 1em;
  line-height: 1.5em;
  border: 0;
}

.field {
  border-bottom: 2px solid #968772;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#signupButton {
  border: 1px solid #968772;
  background: #968772;
  color: #fff;
  font-size: 1em;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
}

#site-footer {
  padding: 30px;
  background: #2B2F26;
  color: #F2F1E8;
}
